@charset "UTF-8";


body{
    background-image: linear-gradient( 90deg, black, darkblue);
}

.center{
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
}

#voltar-center{
    text-align: center;
    margin: 40px;
}

#link{
    text-align: center;
    margin: 10px;
    font-size: small;
}